<%- include('partials/header'); -%>

  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input class="form-control" type="text" name="postTitle" autofocus required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="inputPost">Post</label>
      <textarea class="form-control" type="text" name="postBody" rows="4" cols="50" required autocomplete="off"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="publishPost">Publish</button>
  </form>

<%- include('partials/footer'); -%>
