<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Success Page</title>
  </head>
  <body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Success!</h1>
        <p class="lead">You have been successfully signed up to the newsletter.</p>
        <!-- Redirect route to sign up page -->
        <form action="/success" method="post">
          <button type="submit" class="btn btn-success">Sign Up More</button>
        </form>
      </div>
    </div>

  </body>
</html>
